<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sensor Data</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    canvas {
      margin-top: 20px;
    }
    .hidden {
      display: none;
    }
    button {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Real-Time Sensor Data</h1>
  <button id="toggleView">Switch to Graph View</button>
  <div id="tableView">
    <table id="sensor-table">
      <thead>
        <tr>
          <th>Sensor Read Time</th>
          <th>Data Send Time</th>
          <th>Data Receive Time</th>
          <th>ADC_0 (V)</th>
          <th>Acceleration X (m/s²)</th>
          <th>Acceleration Y (m/s²)</th>
          <th>Acceleration Z (m/s²)</th>
          <th>Rotation X (rad/s)</th>
          <th>Rotation Y (rad/s)</th>
          <th>Rotation Z (rad/s)</th>
        </tr>
      </thead>
      <tbody id="sensor-data"></tbody>
    </table>
  </div>
  <div id="graphView" class="hidden">
    <h2>ADC_0</h2>
    <canvas id="adcChart"></canvas>
    <h2>Gyroscope Data</h2>
    <canvas id="gyroChart"></canvas>
    <h2>Acceleration Data</h2>
    <canvas id="accChart"></canvas>
  </div>

  <script>
    const socket = io();
    console.log("Attempting to connect to Socket.IO");

    // Store the initial time
    const initialTime = Date.now();

    socket.on('connect', () => {
      console.log("Connected to Socket.IO server");
    });

    var adcCtx = document.getElementById('adcChart').getContext('2d');
    var adcChart = new Chart(adcCtx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'ADC_0',
          data: [],
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
          fill: false
        }]
      },
      options: {
        scales: {
          x: {
            type: 'linear',
            title: {
              display: true,
              text: 'Time (seconds)'
            }
          },
          y: {
            min: 0,
            max: 5
          }
        }
      }
    });

    var gyroCtx = document.getElementById('gyroChart').getContext('2d');
    var gyroChart = new Chart(gyroCtx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [
          {
            label: 'Rotation_x',
            data: [],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            fill: false
          },
          {
            label: 'Rotation_y',
            data: [],
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            fill: false
          },
          {
            label: 'Rotation_z',
            data: [],
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1,
            fill: false
          }
        ]
      },
      options: {
        scales: {
          x: {
            type: 'linear',
            title: {
              display: true,
              text: 'Time (seconds)'
            }
          }
        }
      }
    });

    var accCtx = document.getElementById('accChart').getContext('2d');
    var accChart = new Chart(accCtx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [
          {
            label: 'Acceleration_x',
            data: [],
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            fill: false
          },
          {
            label: 'Acceleration_y',
            data: [],
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            fill: false
          },
          {
            label: 'Acceleration_z',
            data: [],
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1,
            fill: false
          }
        ]
      },
      options: {
        scales: {
          x: {
            type: 'linear',
            title: {
              display: true,
              text: 'Time (seconds)'
            }
          }
        }
      }
    });

    socket.on('sensor_update', function(data) {
      console.log("Received sensor update:", data);

      const currentTime = (Date.now() - initialTime) / 1000; // Calculate elapsed time in seconds

      if (adcChart && adcChart.data) {
        var adcValue = data.AIN0;

        adcChart.data.labels.push(currentTime);
        adcChart.data.datasets[0].data.push({ x: currentTime, y: adcValue });

        adcChart.update();
      } else {
        console.error("ADC Chart or Chart data is not defined");
      }

      if (gyroChart && gyroChart.data) {

        gyroChart.data.labels.push(currentTime);
        gyroChart.data.datasets[0].data.push({ x: currentTime, y: data.Rotation_x });
        gyroChart.data.datasets[1].data.push({ x: currentTime, y: data.Rotation_y });
        gyroChart.data.datasets[2].data.push({ x: currentTime, y: data.Rotation_z });

        gyroChart.update();
      } else {
        console.error("Gyro Chart or Chart data is not defined");
      }

      if (accChart && accChart.data) {

        accChart.data.labels.push(currentTime);
        accChart.data.datasets[0].data.push({ x: currentTime, y: data.Acceleration_x });
        accChart.data.datasets[1].data.push({ x: currentTime, y: data.Acceleration_y });
        accChart.data.datasets[2].data.push({ x: currentTime, y: data.Acceleration_z });

        accChart.update();
      } else {
        console.error("Acceleration Chart or Chart data is not defined");
      }

      const sensorDataTable = document.getElementById('sensor-data');
      const row = document.createElement('tr');
      
      const readTimeCell = document.createElement('td');
      readTimeCell.textContent = data.sensor_read_time;
      row.appendChild(readTimeCell);

      const sendTimeCell = document.createElement('td');
      sendTimeCell.textContent = data.data_send_time;
      row.appendChild(sendTimeCell);

      const receiveTimeCell = document.createElement('td');
      receiveTimeCell.textContent = data.data_receive_time;
      row.appendChild(receiveTimeCell);

      const adcCell = document.createElement('td');
      adcCell.textContent = data.AIN0;
      row.appendChild(adcCell);

      const accXCell = document.createElement('td');
      accXCell.textContent = data.Acceleration_x;
      row.appendChild(accXCell);

      const accYCell = document.createElement('td');
      accYCell.textContent = data.Acceleration_y;
      row.appendChild(accYCell);

      const accZCell = document.createElement('td');
      accZCell.textContent = data.Acceleration_z;
      row.appendChild(accZCell);

      const rotXCell = document.createElement('td');
      rotXCell.textContent = data.Rotation_x;
      row.appendChild(rotXCell);

      const rotYCell = document.createElement('td');
      rotYCell.textContent = data.Rotation_y;
      row.appendChild(rotYCell);

      const rotZCell = document.createElement('td');
      rotZCell.textContent = data.Rotation_z;
      row.appendChild(rotZCell);

      sensorDataTable.appendChild(row);
    });

    document.getElementById('toggleView').addEventListener('click', function() {
      const tableView = document.getElementById('tableView');
      const graphView = document.getElementById('graphView');
      if (tableView.classList.contains('hidden')) {
        tableView.classList.remove('hidden');
        graphView.classList.add('hidden');
        this.textContent = 'Switch to Graph View';
      } else {
        tableView.classList.add('hidden');
        graphView.classList.remove('hidden');
        this.textContent = 'Switch to Table View';
      }
    });
  </script>
</body>
</html>
